:root {
  /* color */
  --orange: #ff9f74;
  --orange-mid: #ffe7d0;
  --orange-light: #fbefe4;
  --yellow: #ffc853;
  --yellow-light: #ffe9b9;
  --pink: #ff95b7;
  --pink-light: #ffdee8;
  --rose-pink: #ffa6a3;
  --skyblue: #a3daff;
  --purple: #d3a3ff;
  --gray: #707070;
  --red: #ff4141;
  /* size */
  --padding: 12px;
  --avartar-size: 36px;
  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
  /*font family*/
  --roboto: "Roboto", sans-serif;
  --nerko: "Nerko One", cursive;
}

body {
  background-color: var(--orange-light);
  padding: 0;
  margin: 0;
  font-family: var(--roboto);
}
/*NavigationBar*/
.nav {
  background-color: var(--orange);
  width: 100%;
  height: 40px;
  padding: 10px;
  display: inline-flex;
}

.nav .logo {
  position: absolute;
  left: 45%;
  top: 10px;
  text-decoration: none;
  font-family: var(--nerko);
}

.nav .logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.nav .auth {
  position: absolute;
  padding: 10px;
  right: 5px;
}

.nav .auth button {
  border: none;
  padding: 5px 15px;
  border-radius: 1ch;
  background-color: white;
}

/*Login*/
.login {
  background-color: white;
  position: relative;
  padding: 10px;
  top: 150px;
  left: 35%;
  width: 400px;
  height: 200px;
  border-radius: 5ch;
}

.login h2 {
  color: var(--orange);
  position: relative;
  left: 42%;
}

.login table {
  position: relative;
  left: 17%;
}

.login table td {
  padding: 3px;
  color: var(--gray);
}

.login button {
  margin: 10px;
  padding: 0px 15px;
  border: none;
  height: 45px;
  border-radius: 2ch;
  background-color: white;
  color: var(--orange);
}

.login .invalid {
  color: white;
}

.login .error-message {
  position: relative;
  left: 32%;
  margin: 10px;
  color: var(--red);
}

/*Home*/
.board-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  align-items: center;
}

.board-list .board{
  background-color: white;  
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 2ch;
  box-shadow: 2px 2px 5px #999;
}

.board-list .board:hover{
  cursor: pointer;
}

.board-list .board .board-title{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
}

.board-list .add-board-button{
  padding: 15px 18px;
  margin-left: 25px;
  border-radius: 5ch;
  color:white;
  border:none;
  background-color: var(--orange-mid);  
}

.board-list .add-board-button:hover{
  background-color: var(--orange);  
  cursor: pointer;
}

.board-list .add-board-button:active{
  border:none
}



/*Modal*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0px;  
}

.modal-default-button {
  float: right;
}

/*AddBoard*/

.pallet{
  margin: 25px 0px 0px 0px;
}

.pallet a{
  width: 40px;
  height: 40px;
  display:inline-block;  
  border-radius: 1ch;
  margin-right: 5px;  
  border: solid white;
}

.add-board-input{
  width: 65%;
  border:none;
  border-bottom:dashed white;
  background-color: transparent;
}

.add-board-input:focus{
  outline:none;
  border-bottom: solid white;  
  transition: opacity .3s ease;
}

.button{
  position: relative;
  left: 10px;
  border-radius: 4px;
  border: none;
  background-color: white;  
  padding: 0px 10px;  
  height: 25px;    
}


.modal-close-btn{  
    position: relative;
    top: 0px;
    left: 200px;
    right: 0px;
    font-size: 24px;
    text-decoration: none;  
}

/*Board*/
.board-wrapper .list-wrapper {  
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;    
}

.board-wrapper .header{
  margin: 10px;
}

.list-wrapper .add-list{
  background-color: var(--yellow);
  width: 150px;
  height: 30px;
  border-radius: 4ch;
  text-align: center;
  padding: 10px 10px 0px 10px;
  margin-top: 9px;
  color:white;  
}

.list-wrapper .add-list .add-text:hover{
  cursor: pointer;
}
/*List*/
.list{
  margin: 10px 30px 0px 20px;    
  height: 80%;  
}

.list .header{
  background-color: var(--yellow);
  width: 150px;
  height: 30px;
  border-radius: 4ch;
  text-align: center;
  padding: 5% 10px 0px 10px;
  color:white;  
}

.list .card-section{ 
  background-color: var(--yellow-light);
  padding: 5px 5px 20px 5px;  
  border-radius: 3ch;  
}

.list .line{  
  background-color: transparent;  
  width: 90px;
  height: 20px;
  border-right:5px dotted var(--yellow);
}

.list .card-item{
  background-color: white;
  margin:10px 10px;
  padding:10px;
  border-radius: 1ch;
}

.card-section .add-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  padding:10px;
  margin: 15px 10px;
  border-radius: 1ch;
  background-color:var(--yellow);
  color:white;  
}

.add-card:hover{
  cursor: pointer;
}

/*AddCard*/
.add-card-section .input{
  width: 120px;
  border:none;
  border-bottom: solid var(--yellow) 1px;
}

.add-card-section .input:focus{
  outline:none;  
} 

.add-card-section .cancel-add-btn {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  text-decoration: none;
  color: #888;
  font-size: 15px;
}